.card-stats-mini {
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus{
    box-shadow: 0 9px 10px -4px rgba(0, 0, 0, 0.15);
  }

  .card-body {
    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }

  .card-footer {
    border-top: 1px solid $opacity-2;
  }

  &.card-background {
    .card-body {
      min-height: auto;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .info-area {
    text-align: left;
    width: 40%;
    float: left;
    padding: 15px 0;

    .icon > i {
      font-size: 2em;
    }
  }

  .bg-icon{
    position: absolute;
    bottom: 0;
    transform: translateY(0%);
    color: $black-color;

    &.icon-danger{
        color: $danger-color;
        opacity: 15%;
    }
    &.icon-success{
        color: $success-color;
        opacity: 25%;
    }

    i {
      margin: 10px 15px;
      font-size: 250%;
    }
    p {
      margin-bottom: 0;
    }
  }
}
