.card-strategy-mini{  
    .avatar-icon{
        transform: translateY(0%);
        text-align: center;
        color: $black-color;

        &.icon-info{
            color: $info-color;
        }
        &.icon-danger{
            color: $danger-color;
        }
        &.icon-primary{
            color: $primary-color;
        }
        &.icon-success{
            color: $success-color;
        }
        &.icon-warning{
            color: $warning-color;
        }

        i {
            font-size: 28px;
            width: 78px;
            height: 78px;
            line-height: 78px;
            border: 1px solid $table-line-color;
            border-radius: 50%;
            margin-right: 15px;
        }

        &.sm{
            i {
                font-size: 18px;
                width: 48px;
                height: 48px;
                line-height: 48px;
            }
        }   
    }

    p{
        margin: 0px 0px 0px;
    }

    .card-body + .card-footer {
        padding-top: 0;
    }

    .card-footer {
        h5 {
            font-size: 1.25em;
            margin-bottom: 0;
        }
    }
}
