# Phioon
.queries/

# Google App Engine generated folder
appengine-generated/
*.ini

# Dependency directories
node_modules/

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history