// display flex was causing errors
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    display: block;
}

.carousel-control-prev, .carousel-control-next{
    width: 25px;
    background: linear-gradient($default-body-bg 10%, $medium-gray 50%, $default-body-bg 90%);
}

.carousel-control-prev{
    left: -25px;
}
.carousel-control-next {
    right: -25px;
}

.carousel{
    .carousel-inner{
        overflow: unset;
    }

}

.carousel-indicators li {
    background-color: $dark-gray;
  }