
// Branding Colors
$phioon-dark-color:             #062229 !default;
$phioon-petro-color:            #3a5966 !default;
$phioon-green-color:            #91c7b0 !default;
$phioon-grey-color:             #bcbdc0 !default;